html {
    width: 350px;
    height: 400px;
}
body {
    text-align: center;
    background: #3BB477;
    color: white;
    font-family: 'Annie Use Your Telescope', cursive;
}
h1 {
    font-family: 'Rock Salt', cursive;
}

table.tableSection {
    display: table;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    width: 85%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
table.tableSection thead, table.tableSection tbody {
    float: left;
    width: 100%;
}
table.tableSection tbody {
    overflow: auto;
    height: 150px;
}
table.tableSection tr {
    width: 100%;
    display: table;
    text-align: center;
}
table.tableSection th, table.tableSection td {
    width: 33%;
}

.number {
    font-size: 100px;
}

.secondPage {
    display: none;
}

button {
    font-family: 'Rock Salt', cursive;
    background-color: #C1D7AE;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 25px;
}

input {
    margin-bottom: 8px;
    border: 0px solid white;
    border-bottom-width: 1px;
    background: transparent;
    font-family: 'Rock Salt', cursive;
    color: white;
    background: transparent;
}


input:focus {
    outline: none;
}
/*
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
/*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Handle */
/*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0,255,0,0.8);
    -webkit-box-shadow: inset 0 0 9px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,255,0,0.4);
}
*/