html {
    width: 350px;
    height: 400px;
}
body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

table {
    width: 75%;
}

.number {
    font-size: 100px;
}

.secondPage {
    display: none;
}

button {
    font-family: 'Open Sans', sans-serif;
}