html {
    width: 350px;
    height: 400px;
}
body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #FFCAB1;
    background: #C1D7AE;
}

table {
    width: 75%;
}

.number {
    font-size: 100px;
}

.secondPage {
    display: none;
}

button {
    font-family: 'Open Sans', sans-serif;
    color: #6F1A07;
}

